.box{
	padding: 1% 0;
	font-family: "PT Sans";
}

/*BORDER-GRAY*/
.border-gray{
	border:2px solid #EFEFEF;
	padding: 14% 3% 6%;
	text-align: center;
}
.border-gray h4{
	font-size: 1em;
}
.border-gray h3{
	font-size: 1.6em;
	margin: 14px 0 20px 0;
}

/*BOXGRAY*/
.boxgray{
	background-color: #EFEFEF;
	padding: 4% 0;
	margin: auto;
	text-align: left;
}
.boxgray h5{
	margin-top: 2px;
	margin-bottom: 4px;
}


