body{
	margin: 0;
	padding: 0;
}
header{
	margin-top: -20px;
}
.text-white{
	color:#fff;
}
.text-gray{
	color: #666666;
}
.text-black{
	color: #000;
}
/* ----------- Header ------------ */
.block1{
	padding: 10px 0 30px 0;
	background-color: #eee;
	border-bottom: 1px solid #c7c7c7;
}
.img-banner{
	width: 84%;
}
/* ----------- Sección: bloque3; ------------ */

/* ----------- Sección: noticias detacadas dos------------ */
.noticias-dos{
	border: 1px solid #c7c7c7;
	margin: 30px 0 0 0;
}
.noticias-dos h4{
	color: #C70000;
}
div.img-pases{
	height: 180px;
	background-image: url(../image/img_especiales.jpg);
	background-size: 100%;
	margin: 0 0 10px 0;
}
.text1-pases:hover{
	color: #C70000;
}
.text2-pases h4:hover{
	text-decoration: underline;
}
.text3-pases:hover{
	color: #000;
}
div.filtro{
	height: 180px;
	background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.9));
	padding: 0 20px;
	position: relative;
}
div.filtro h4{
	color: white;
  position: absolute;
  bottom: 0;
  text-shadow: 1px 2px 1px #000;
}
div.aside img{
	margin: 30px 0 0 0;
}
/* -----------Sección: bloque4/Emma------------ */
.border-emma{
	height: 234px;
  padding: 30px 0;
  margin-bottom: 10px;
  border-bottom: 1px solid #c7c7c7;
}
.bloque4 .container .ultimas-not h4{
	font-family: 'Oswald';
	color: #c7c7c7;
	margin-bottom: 30px;
	font-size: 25px;
}
.bloque4 .container .ultimas-not h4 img{
	margin-top: -5px;
}
.title-emma{
	padding-left: 15px;
}
.bloque4 .titulo-emma{
	padding-bottom: 25px;
  color: #000;
  font-size: 20px;
  display: block;
}
hr{
	color: blue;
	margin-bottom: 30px;
}
/* ------Iconos/Emma------- */
.ico{
	background-color: #EDEFF0 ;
	border-radius: 5px;
}
.ico:hover{
	background-color: #c7c7c7;
	text-decoration: none;
	color: #fff;
}
.mg-r1{
	margin-right: 1%;
}
.ico-fa{
	box-shadow: 0px 3px 0px 0px rgba(15,47,207,1);
	color:#0f2fcf ;
	padding: 3px 3px 3px 8px;    
}
.ico-twi{
	box-shadow:0px 3px 0px 0px rgba(16,156,207,1);
	color: #109ccf;
	padding: 3px 2px 3px 4px;    
}
.ico-goo{
	box-shadow:0px 3px 0px 0px rgba(242,3,43,1);
	color: #f2032b;
	padding: 3px 2px 3px 6px;    
}
.ico-youtube{
	color: red;
}
.punto-icon{
	margin: 0 10px;
} 

/* ------Sección: Bloque 4 / Aside------- */

div.caricatura{
	width: 84%;
  border-top: 3px solid #C70000;
  border-bottom: 1px solid #eee;
  padding: 10px 0;
}
.img-caricatura{
	padding: 0 0 10px 0;
}

/* ------Media Queries------- */
@media (min-width: 200px) and (max-width:767px){
	.emma-watson{
		width: 100%;
		margin-bottom: 10px;
	}
}


