*{
	margin: 0%;
	padding: 0%;
	box-sizing: border-box;
}

/*general*/
.caja{
	margin: auto;
	width: 30%;
	border: 1px solid gray;
	padding: 3%;
}
.libero img{
	display: inline-block;
}
.media-heading{
	text-decoration: none;
	color: black;
}
.logo{
	text-align: center;
	margin: auto;
	border: none;
}
.media img{
	border: 4px solid gray;
}

.separador{
	margin-left: 26%;
    margin-top: 0%;
    margin-right: 26%;
    margin-bottom: 0%;
    border: 2px solid;
    position: relative;
    top: 34px;
}

.text-mas-info{
	position: relative;
	top: 35px;
}

.media-body a .media-heading{
	font-size: 96%;
    margin-top: 7%;
}

/*especificaciones*/
.color-aweita{
	color: #A83496;
}

.color-libero-wapa-popular{
	color: #EC1A4B;
}

.color-popular-separador{
	color: #EC1A4B;
}

/*IMAGENES DESTACADAS*/

a{
	color: black;
}

.separador {
    border-top: 3px solid gray;
    margin-top: 5%;
    margin-bottom: 5%;
}

.titulo-especiales{
	position: absolute;
    top: 10px;
    left: 32%;
    background-color: gray;
    border-color: gray;
    color: white;
    border-radius: 0%;
}

.negrita{
	font-weight: bold;
}

.caja-bajo-info{
	margin-top: 20px;
}

.borde-image-foto-des{
	border: 2px solid gray;
	margin-bottom: 2%;
}

.info-especiales{
    height: auto;
    padding: 1.5% 20%;
    position: absolute;
    left: 11%;
    bottom: 4%;
    background-color: rgba(255,255,255, 0.8);
}

.img-especial{
	margin-top: 5%;
	width: 100%;
}

.caja-bottom-especial{
	border: 1px solid #D8D8D8;
    margin-right: 68%;
}